 @media screen and (max-width:475px)  {
  *{
 overflow:-moz-hidden-unscrollable;
  }
*{
  font-family: poppins,sans-serif;
}
  h1{
    position:relative;
    margin-top:5px;
    margin-bottom: 23px;
    
  }
  .box{
      display:flow-root;
  }

  form {
        box-sizing: border-box;
        position:relative;
        right:240px;
      }

      input[type="text"] {
        margin-left: 20px; 
        width: 100px;
        height: 40px;
        
      }
  label{
    position:relative;
    top:22px;
    right:90px;
  }
  .textarea{
    
  }
 

.links{
  position:relative;
  top:230px;
  right:250px;
 
}
.links1{
  white-space: nowrap; 
}
}



@media (min-width:640px){

}

@media (min-width:768px){

}

@media (min-width:1024px){

}

@media (min-width:1280px){

}
@media (min-width:1536px){

}